
#messages p {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0.2em 1em;
}

#messages .error {
	color: #933;
}

#content {
	min-height: 10em;
}

#search-results .favorite-icon {
    width: 1.3em;
    position: relative;
    top: 0.2em;
    cursor: pointer;
}